/* {
    border: 1px solid red;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

html {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 300px 0 300px;
    height: fit-content;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left > p {
    font-size: 24px;
    font-weight: 1000;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

/* INTRO SECTION */

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    flex: 1 1 auto;
    height: fit-content;
}

.intro-left, .intro-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-title {
    font-weight: 900;
    font-size: 48px;
}

h1 {
    margin: 0;
}

.intro-left > p {
    margin-top: 0;
}

button {
    background-color: #3882f7;
    color: #f9faf8;
    font-weight: 900;
    padding: 10px 25px;
    border-radius: 5px;
}

.intro-left > div > button {
    border: 0;
}

.intro-right {
    text-align: center;
    align-items: center;
    background-color: #646d7a;
}

/* SECTION TWO, RANDOM INFORMATION */

.section.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-title {
    font-size: 36px;
    font-weight: 900;
}

.section-two-elements {
    display: flex;
    justify-content: space-around;
    gap: 10%;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f7;
    border-radius: 10%;
}

.element .text {
    text-align: center;
}

/* SECTION THREE, QUOTE */

.section.three {
    padding: 3.5% 25%;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

.quoter {
    margin-top: 0;
    text-align: end;
    font-size: larger;
    font-weight: 900;
}

/* SECTION FOUR, CALL TO ACTION */



/* FOOTER */

footer {
    text-align: center;
    justify-content: center;
    padding: 15px;
}

/* BACKGROUND AND FONT COLOUR OF THESE SECTIONS */

.section.one,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.section.two,
.section.three,
.section.four {
    color: #1f2937;
}

.section.three {
    background-color: #e5e7eb;
}